BouncingGame/BouncingGame.Android/bin
BouncingGame/BouncingGame/BouncingGame.Android/bin
BouncingGame/BouncingGame/BouncingGame.Android/obj
BouncingGame/BouncingGame/BouncingGame.Common/bin
BouncingGame/BouncingGame/BouncingGame.Common/obj
BouncingGame/BouncingGame/BouncingGame.iOS/bin
BouncingGame/BouncingGame/BouncingGame.iOS/obj
